body {
  background: url(pinkflowers-background.jpg) #ad8c97;
  font-family: "Molengo", serif;
  background-position: top;
  background-size: auto;
}

h1 {
  font-weight: 800;
  font-size: 50px;
  font-weight: 900;
  line-height: 1.5;
  color: white;
  text-align: center;
}

header {
  margin-bottom: 40px;
}

main {
  margin-bottom: 55px;
}

form {
  padding: 30px;
  border-radius: 6px;
  background-color: rgb(180, 140, 141, 0.2);
  display: flex;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 45px;
}

.instructions {
  padding: 16px 24px;
  border: none;
  width: 80%;
  font-size: 17px;
  border-radius: 35px;
  line-height: 20px;
  font-family: "Molengo", serif;
}

.button {
  margin-left: 10px;
  background-color: #974152;

  border: none;
  color: white;
  padding: 14px 24px;
  border-radius: 35px;
  width: 120px;
  font-size: 17px;
  font-family: "Molengo", serif;
  font-weight: 550;
}

.container {
  margin: 100px auto;
  max-width: 700px;
}

.poem {
  font-size: 22px;
  line-height: 1.8;
  padding: 25px 30px;
  background-color: white;
  font-weight: 500;
  border-left: 3.5px solid #974152;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  font-family: "Edu NSW ACT Foundation", cursive;
}

.dots {
  margin-left: 0;
}

footer {
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #974152;
  font-weight: 600;
}
